@import "~bulma/bulma.sass";

body {
    .navbar {
        background-color: $primary;
        .navbar-brand {
            h1 {
                color: #FFF;
                font-weight: bold;
            }
        }
    }

    audio {
        min-height: 2.6em;
        width: 100%;
    }

    .chart-size-container {
        flex: 1;
        margin-top: 1rem;
        overflow: hidden;
        width: 100%;
    }

    .chart-size {
        position: relative;
        height: 100%;
        width: 100%;
    }

    .field:not(:last-child) {
        margin-bottom: unset;
    }

    .button-row {
        display: grid;
        grid-column-gap: 1.5rem;
        grid-template-columns: 1fr 1fr;
    }

    .is-invisible {
        visibility: hidden;
    }

    * {
        box-sizing: border-box;
        overflow: visible;
    }
}

html,
body,
#app {
    height: 100%;
    overflow: hidden;
}

#app {
    display: grid;
    grid-row-gap: 1rem;
    grid-template-rows: auto 1fr auto;

    > section, > footer {
        justify-self: center;
        width: 100%;
    }

    > section > *:not(.chart-size-container):not(.modal), > footer {
        align-self: center;
        max-width: 768px;
        width: 100%;
    }
}

.modal .modal-background {
    backdrop-filter: blur(2px);
}

// transitions

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.25s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

.fade-enter-to,
.fade-leave-from {
    opacity: 1;
}
